<div class="content" role="main">
    <!-- Resources -->
    <h2>Resources</h2>
    <p >Here are some projects with its descriptions </p>
    <div class="card-container">
      <app-card [urlref]="'https://angular.io/tutorial'" [texto]="'Learn Angular'"></app-card> 
      <app-card [urlref]="'https://angular.io/cli'" [texto]="'CLI Documentation'"></app-card> 
      <app-card [urlref]="'https://material.angular.io'" [texto]="'Angular Material'"></app-card> 
      <app-card [urlref]="'https://blog.angular.io/'" [texto]="'Angular Blog'"></app-card> 
      <app-card [urlref]="'https://angular.io/devtools/'" [texto]="'Angular DevTools'"></app-card> 
      <app-card [urlref]="'https://angular.io/cli'" [texto]="'CLI Documentation'"></app-card>
    </div>  
  
</div>