    
<div class="sidemenu">
    <!-- Next Steps -->
    <h2>Filter</h2>
    <p>What project do you want to see?</p>
  
  
    <div class="card-container">
      <app-button [value]="'New Component'"></app-button>
      <app-button [value]="'Angular Material'"></app-button>
      <app-button [value]="'Add PWA Support'"></app-button>
      <app-button [value]="'Add Dependency'"></app-button>
      <app-button [value]="'Run and Watch Tests'"></app-button>
      <app-button [value]="'Build for Production'"></app-button> 

    </div>

</div>